@model DaniKarijera.Models.poslodavci

@{
    ViewBag.Title = "Uredi";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.Uspjesno))
{
<div class="alert alert-success">
    <strong>Uspješno!</strong> @ViewBag.Uspjesno
</div>
}

<style type="text/css">
    body {
        background-color: #DADADA;
    }

    .ui.menu .item img.logo {
        margin-right: 1.5em;
    }

    .main.container {
        margin-top: 7em;
    }

    .wireframe {
        margin-top: 2em;
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }

    * .table {
        margin-top: 10%;
    }
</style>



<div class="ui text container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Uredi - @Model.naziv <a href="~/Poslodavci/MojeVizitke" class="btn btn-primary">Moje vizitke</a></h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_poslodavca)
            @Html.HiddenFor(model => model.glasanje1)
            @Html.HiddenFor(model => model.popis)
            <div class="form-group">
                @Html.LabelFor(model => model.naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.naziv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                @Html.LabelFor(model => model.web, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.web, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.web, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.opis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.opis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.opis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.slika, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.slika, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.slika, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.logo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.logo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spremi" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>
    <div>


        @Styles.Render("~/Content/css");

        @Styles.Render("~/Content/css/leo");
    </div>
